@media (min-width: 992px) {
  .social-media-icon {
    width: 37px;
    height: 16px;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(147deg)
      brightness(108%) contrast(101%);
    display: inline;
  }
  .categories {
    padding-left: 110px;
  }
  li.footer-category {
    display: inline;
    padding-right: 26px;
  }

  .footer-category {
    font-family: Teko;
    font-size: 2.2vh;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #fff;
  }

  .footer-logo-dept {
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(147deg)
      brightness(108%) contrast(101%);
    width: 10%;
  }

  .footer-container {
    background-color: #0e0e0e;
    height: 340px;
    padding: 105px 120px 0px;
    padding-right: 120px;
    margin-right: 120px;
  }

  .footer-divider {
    color: #fff;
    margin: 32px 0 56px;
  }

  .table-item {
    border-color: inherit;
    border-style: solid;
    color: white;
    border-width: 0;
    color: #808080;
    padding: 0 20px;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .copyright {
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #808080;
  }

  .table-container {
    margin-left: 21%;
  }
}
