@media (min-width: 768px) {
  /* Toggle between desktop and mobile headers */
  #mobile-header {
    display: none;
    height: 500px;
  }
  #desktop-header {
    display: block;
  }
}

@media (max-width: 768px) {
  #mobile-header {
    display: block;
  }

  #desktop-header {
    display: none;
  }
}

/* Desktop header */
.desktop-header-img {
  background-image: url("/images/Header.jpg");
  min-height: 960px;
  width: 100%;
  background-position: top;
  background-size: cover;
  z-index: 1;
  border: 20px solid #fff;
  border-bottom: none;
}

.top-13 {
  top: 13px;
}

.header-text {
  top: 192px;
  font-family: Teko;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  left: 95px;
  font-size: 28vw;
}

.desktop-navigation {
  border-bottom: 1px solid #000;
  margin: 0 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 6;
}

.desktop-header-logo {
  width: 100px;
  padding-top: 13px;
}

.hamburger-icon {
  padding-bottom: 5px;
  padding-left: 27px;
}

.desktop-menu-label {
  font-family: Teko;
  font-size: 18px;
  font-weight: normal;
  font-stretch: extra-condensed;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: -1px;
}

.header-button {
  width: 170px;
  z-index: 2;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #000;
  padding: 10px 0;
  right: 100px;
  bottom: 80px;
  border: none;
  font-family: "Arial";
}

/* #mobile */

.mobile-navigation {
  padding: 10px 20px 15px;
}

.mobile-menu-bar-hamburger {
  padding-left: 55px;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #fff;
}

#mobile-header {
  position: relative !important;
}

.header-logo-mobile {
  width: 50px;
}

.mobile-header-img {
  background-image: url("/images/florensis.png");
  height: 320px;
  width: 100%;
  background-size: cover;
  background-position: conter;
  /* background-repeat: no-repeat; */
  z-index: 1;
  top: 50px;
}

.mobile-menu-label {
  font-size: 2.6vh;
  top: 8px;
}

.mobile-header-text {
  font-size: 26vh;
  padding-top: 48px;
  font-family: Teko;
  margin-left: -15px;
}

.mobile-header-button {
  z-index: 2;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  background-color: #000;
  padding: 10px 40px;
  border: none;
  margin-top: 70px;
  width: calc(100% - 40px);
  height: 50px;
}
