input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #0e0e0e;
}

textarea {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #0e0e0e;
  resize: none;
}
