@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
.float-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}

.pt-100 {
  padding-top: 100px;
}

.h-600 {
  height: 600px;
}

.pt-68 {
  padding-top: 68px;
}

.pt-145 {
  padding-top: 145px;
}

.pb-60 {
  padding-bottom: 60px;
}

a:-webkit-any-link {
  text-decoration: none;
}
.color-white {
  color: #fff;
}

.color-white:hover {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 300px) {
  .app-container {
    padding: 0;
  }
}

.displayButton {
  cursor: pointer;
  color: #fff;
  border: 0 !important;
  background-color: #000;
  padding: 10px 30px;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .buttons-container {
    display: none !important;
  }
}

.margin-auto {
  margin: 0 auto !important;
  padding-bottom: 50px;
}
