@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
.float-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}

.pt-100 {
  padding-top: 100px;
}

.h-600 {
  height: 600px;
}
