input:focus {
  border-bottom: 1px solid #000;
}

textarea:focus {
  border-bottom: 1px solid #000;
}

.error-message {
  font-family: Arial;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff2929;
}

@media (max-width: 991.98px) {
  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #dddddd;
    z-index: 4;
    width: 100%;
    display: block;
    padding-top: 32px;
  }
}

@media (min-width: 992px) {
  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #dddddd;
    z-index: 4;
    width: 90%;
    display: block;
    padding-top: 32px;
    border-radius: 0 !important;
  }
}

textarea {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #dddddd;
  resize: none;
  z-index: 4;
  width: 100%;
  display: block;
  padding-top: 32px;
  resize: none;
  padding-top: 32px;
  border-radius: 0 !important;
}

.input-label {
  padding-bottom: 10px;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .input-field {
    margin-bottom: -28px;
  }
}
